{% if DEFAULT_PAGINATION %}
<!-- Pagination -->

<!-- 
{% set first_page = articles_paginator.page(1) %}
{% set last_page = articles_paginator.page(articles_paginator.num_pages) %}
-->

<div class="pagination">

    <!-- Previous page button -->
    {% if articles_page.has_previous() %}
    <a href="{{ SITEURL }}/{{ articles_previous_page.url }}" class="button previous">&laquo;</a>
    {% endif %}

    <!--
    <div class="pages">
    {% for i in range(1, articles_paginator.num_pages + 1) %}
        {% if i == articles_page.number %}
        <a href="#" class="active">{{ i }}</a>
        {% else %}
        <a href="{{ SITEURL }}/{{ articles_paginator.page(i).url }}">{{ i }}</a>
        {% endif %}
    {% endfor %}
    </div>
    -->

    <!-- Next page button -->
    {% if articles_page.has_next() %}
    <a href="{{ SITEURL }}/{{ articles_next_page.url }}" class="button next">&raquo;</a>
    {% endif %}

</div>
{% endif %}
